.navbar {
  background-color: #5f788a;
}

.navbar-brand {
  color: white !important;
}

.nav_a,
.navbar-nav,
.nav-link {
  color: #cbd5db !important;
  border-color: #cbd5db !important;
}

.nav_a:hover,
.navbar-brand:hover,
.navbar-nav:hover,
.nav-link:hover {
  color: #ffffff !important;
}
