.container-fluid {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100%;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 30%;
  z-index: 9999;
}

section {
  display: flex !important;
  position: relative !important;
  width: 100% !important;
  height: 100vh !important;
  background: #111 !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
  overflow: hidden !important;
}

section .row {
  /* border-color: rgb(255, 0, 0) !important;
  border-style: solid;
  border-width: 1px; */
  position: relative;
  top: -60%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap !important;
  padding: 5px 0;
  white-space: nowrap;
  font-size: 64px;
  transform: rotate(-30deg);
}

svg {
  color: rgba(0, 0, 0, 0.5);
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
  border-color: #0f0 !important;
}

svg:hover {
  transition: 0s;
  color: #0f0;
  text-shadow: 0 0 120px #0f0;
}
div .icons {
  width: fit-content;
  white-space: nowrap;
}

section .row:nth-child(even) .icons {
  animation: even 10s linear infinite alternate;
}

section .row:nth-child(odd) .icons {
  animation: odd 10s linear infinite alternate;
}

@keyframes even {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-30%);
  }
}
@keyframes odd {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(-50%);
  }
}
